<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andraganoid.gameofmath">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Practice.PracticeSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Practice.PracticeBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fast.FastBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fast.FastSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Heavy.HeavySettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Heavy.HeavyBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Easy.EasySettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Easy.EasyBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Misc.About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Misc.PrivacyPolicy"
            android:screenOrientation="portrait"></activity>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!--Real AdMob App ID:ca-app-pub-7832187166369477~6543894378-->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AD_MOB_APP_ID" />


    </application>

</manifest>